HI : {{$ctrl.repoName}}

<div class="repos-list panel panel-default">
    <div class="panel-heading clearfix">
        <h4 class="panel-title pull-left">
            Files
        </h4>
    </div>
    <table class="table table-hover">
        <tr ng-repeat="file in $ctrl.files track by file.name">
            <td ng-if="file.size!=='-'">
                <i class="glyphicon glyphicon-file" ></i>
                {{file.name}}
            </td>
            <td ng-if="file.size==='-'">
                <i class="glyphicon glyphicon-folder-open"></i>
                <!-- /repo/:name/tree/master/*path -->
                <a href="/repo/{{$ctrl.repoName}}/tree/master/{{$ctrl.folderName}}/{{file.name}}">
                    {{file.name}}
                </a>
            </td>
            <td>{{file.commitMessage}}</td>
            <td>{{file.lastModifiedDate}}</td>
            <td>{{file.changedBy}}</td>
        </tr>
    </table>
</div>
